body {
  font-family: "Open Sans", sans-serif;
  background: #f8f8f8;
  margin: 15px 0;
  text-align: center;
  background-image: url("img1.jpg");
}

.btn {
  border: none;
}

h1 {
  text-align: center;
}

.croco-button {
  background-color: #339966;
  color: #fff;
  width: 20%;
}

.croco-button:hover {
  background-color: #009900;
  color: #fff;
}

.container {
  padding-top: 20px;
}

.txt {
  width: 300px;
  display: inline-block;
  outline: none;
  resize: none;
  border: 1px solid grey;
  min-height: 55px;
}

@media (min-width: 677px) {
  form.joinCrocos label {
    width: 150px;
    display: inline-block;
  }
  form.joinCrocos input {
    width: 300px;
    display: inline-block;
  }

  form.joinCrocos select {
    width: 300px;
    display: inline-block;
  }
}

.GDPR {
  margin-right: 290px;
}

form.joinCrocos .checkbox {
  display: inline-block;
  margin: 0;
  text-align: left;
}

form.joinCrocos .checkbox input {
  display: block;
  position: relative;
  text-align: left;
  margin: -2px -250px 10px;
  width: auto;
}

@media (max-width: 515px) {
  form.joinCrocos label {
    width: 100%;
  }

  form.joinCrocos input {
    width: 100%;
  }

  form.joinCrocos select {
    width: 100%;
  }

  form.joinCrocos .checkbox input {
    display: inline-block;
    position: relative;
    text-align: left;
    margin: -40px 35px 10px;
    width: auto;
  }
}

form,
.panel-body {
  background-color: beige;
}

@media (max-width: 676px) {
  .form-group label {
    display: block;
    width: 100%;
    text-align: left;
  }
  .form-group input {
    display: block;
    width: 100%;
  }
  .form-group textarea {
    display: block;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-right: 150px;
    padding-left: 150px;
    margin-right: auto;
    margin-left: auto;
  }
}
